#matrix > div {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#matrix div.empty {
    background-color: #000;
    height: inherit;
}

#matrix div.food {
    background-color: yellow;
    height: inherit;
}

#matrix div.head {
    background-color: darkgreen;
    height: inherit;
}

#matrix div.tail {
    background-color: green;
    height: inherit;
}

#leveltracker {
    background-color: cornflowerblue;
    color: black;
    font-family: arial;
    font-weight: bold;
    height: 25px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
}