#matrix > div {
    display: inline-block;
    width: 30px;
    height: 30px;
}

#matrix div.empty {
    background-color: #000;
    height: inherit;
}

#matrix div.food {
    background-color: yellow;
    height: inherit;
}

#matrix div.head {
    background-color: darkgreen;
    height: inherit;
}

#matrix div.tail {
    background-color: green;
    height: inherit;
}