#matrix div.row {
    height: 10px;
}
#matrix div.row div {
    display: inline-block;
    width: 10px;
    height: 10px;
}

#matrix  div.row div.empty {
    background-color: #000;
    height: inherit;
}

#matrix  div.row div.food {
    background-color: yellow;
    height: inherit;
}

#matrix  div.row div.head {
    background-color: darkgreen;
    height: inherit;
}

#matrix  div.row div.tail {
    background-color: green;
    height: inherit;
}

#leveltracker {
    display: table-cell;
    background-color: cornflowerblue;
    color: black;
    font-family: arial;
    font-weight: bold;
    height: 25px;
    width: 300px;
    text-align: center;
    padding-top: 5px;
}

#foodtracker {
    display: inline-block;
    background-color: indianred;
    color: black;
    font-family: arial;
    font-weight: bold;
    height: 25px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
}

#controls {
    text-align: center;
    width: 300px;
}

#controls table{
    margin: auto;
    vertical-align:middle;
    text-align: center;
}

#controls table button{
    width:40px;
    height:40px;
}